<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin menu</title>
</head>
<body>

<div style="text-align: center; padding-top: 20px">
    <h1 style="color: green">Добро подаловать!</h1>
</div>
<br/>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p>Все пользователи:</p>
    <div th:each="person:${people}">
        <a href="#" th:text="${person.getUsername()}"></a>
        <span th:if="${#authentication.name == person.getUsername()}" style="color: green">Это вы!</span>
        <span sec:authentication="${person.getRole()}"></span>

    </div>
</div>
</body>
</html>
